.wrapper {
  display: grid;
  grid-template-columns: 6fr  1fr 1fr;
  gap: 2px;
  grid-auto-rows: auto;
  margin-bottom: 10px;
}
.wrapper-title {
  display: grid;
  grid-template-columns: 1fr 9fr;
  gap: 2px;
  grid-auto-rows: auto;
  margin-bottom: 10px;
  background-color:LightGray;
}

body {
    margin: 0;
    background:url('/static/images/bg2.jpg') no-repeat fixed;
    /* background-size: cover; */
    background-size: 100vw 100vh;

}


input,a
{
  margin:10px;
}
input[type=text]
{
  font-family: 'Akaya Telivigala', cursive;
  font-size: 16px;

}
label
{
  font-family: 'Akaya Telivigala', cursive;
  font-size: 20px;
}
.wrapper-add-task
{
  display: grid;
  grid-template-columns: 9fr 1fr;
  gap: 2px;
  grid-auto-rows: auto;
  margin-bottom: 10px;
  background-color:LightGray;
}
.font-1
{
font-family: 'Akaya Telivigala', cursive;
font-size: 20px;
}
.font-title
{
  font-family: 'Akaya Telivigala', cursive;
  font-size:40px;
  height:100%;
  padding-top: 10px;
  margin:0px;
}

.shape1{

  border-radius:10px;
  margin: 10px;
}

.container-foot
{
  margin-top: 20px;
}

.container-titlebar
{
  padding: 5px;
  margin-bottom:20px;
}
.rows
{
  margin-left: 5px;
  margin-right:5px;
  background-color:LightGray;
  border-radius:5px;
}
.container-outer
{
  background-color:white;
  margin-top:100px;
  padding:20px;
  border-radius: 5px;

}

.color-red
{
  background-color:red;
}
.color-yellow
{
  background-color:yellow;
  color:black;
}

.tasks{
  margin:5px;
  background-color:LightGray;
  padding:5px;
  border-radius:5px;
}

.center
{
  text-align: center;
}
.left-align
{
  text-align: left;
}
