<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>index page</title>
  </head>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="{%static 'css/mystyle.css'%}">
    <link rel="stylesheet" href="{%static 'css/animatedbg.css'%}">

    <link rel="preconnect" href="https://fonts.gstatic.com">


<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
  <body>


<div class="container container-outer effect7">
  <div class ="container container-bg-white  ">
    <form  method="post">
      {%csrf_token%}
      {{form}}
      <input class="btn btn-info" type="submit" name="submit" value="ADD">
    </form>
  </div>

  <div class="container container-bg-white ">

   <div class="wrapper-title">
     <div class="one">
       <img src="{%static 'images/todo-list.png' %}" class="shape1" width="50px" height="50px"alt="image not found">
     </div>
     <div class="two">

     </div>

   </div>
   <img src="{%static 'images/todo-list.png' %}" class="shape1" width="50px" height="50px"alt="image not found">
  </div>
  <div class="container ">

      {% for t in task%}
      <div class="wrapper font-1 container-bg-tasks">

        <div class="one">
          {% if t.complete == True %}
          <strike > {{t}}</strike>
          {%else %}
          <span> {{t}}</span>
          {%endif%}
        </div>

        <div class="two ">
          <a class='btn btn-primary' href="{%url 'update_task' t.id %}">Update Task</a>
        </div>

        <div class="three">
          <form  action='{%url 'delete_task' t.id %}' method="post">
            {%csrf_token%}
            <input class='btn btn-primary' type="submit" name="task_delete" value="DELETE TASK">
          </form>
        </div>

      </div>
      {%endfor%}

  </div>

</div>



  </body>
</html>
