<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>index page</title>
  </head>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="{%static 'css/mystyle.css'%}">
    <link rel="stylesheet" href="{%static 'css/animatedbg.css'%}">
<link rel="stylesheet" href="{%static 'css/shadows.css'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">


<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">


  <body>



<div class="container container-outer effect7 ">


  <div class=" wrapper-title container-bg-titlebar rows effect7">
    <div class="t-one">
      <img src="{%static 'images/todo-list.png' %}" class="shape1" width="50px" height="50px" alt="image not found">
    </div>
    <div class="center">
      <h1 class='Display-1 font-title'>TASKS TO DO</h1>
    </div>
  </div>


  <div class="container-white shadow">

      {% for t in task%}
      <div class="wrapper font-1 rows effect7">

        <div class="tasks">
          {% if t.complete == True %}
          <strike > {{t}}</strike>
          {%else %}
          <span> {{t}}</span>
          {%endif%}
        </div>

          <a class='btn btn-primary color-yellow' href="{%url 'update_task' t.id %}">Update Task</a>
          <form  action='{%url 'delete_task' t.id %}' method="post">
            {%csrf_token%}
            <input class='btn btn-primary color-red' type="submit" name="task_delete" value="DELETE TASK">
          </form>

      </div>
      {%endfor%}

  </div>

  <div class ="wrapper-add-task effect7 container-foot tasks ">
    <form  method="post">
      {%csrf_token%}
      {{form}}
      <input class="btn btn-info" type="submit" name="submit" value="ADD">
    </form>
  </div>

</div>



  </body>
</html>
